<?xml version="1.0" encoding="UTF-8"?>
<gameConfig>
	<difficultyLevels>
		<difficultyLevel name="Easy" buttonsCount="4" pointsPerStep="1" TimeLimit="50" repeatModeEnabled="true" gameSpeed="1">
		</difficultyLevel>
		<difficultyLevel name="Medium" buttonsCount="5" pointsPerStep="2" TimeLimit="45" repeatModeEnabled="true" gameSpeed="1.25">
		</difficultyLevel>
		<difficultyLevel name="Hard" buttonsCount="6" pointsPerStep="3" TimeLimit="30" repeatModeEnabled="false" gameSpeed="1.5">
		</difficultyLevel>
	</difficultyLevels>
</gameConfig>